<div class="container" style="margin-top: 17px;">

  <div class="panel panel-default" cg-busy="{promise:httpRequestPromise,message:'Just a moment'}">
    <div class="panel-heading">
      <h3 class="panel-title">Login Page</h3>
    </div>
    <div class="panel-body">

      <a class="btn btn-block btn-social btn-facebook" ng-click="oauthLogin('facebook')" >
        <i class="fa fa-facebook"></i> Sign in with Facebook
      </a>

      <a class="btn btn-block btn-social btn-twitter" ng-click="oauthLogin('twitter')" >
        <i class="fa fa-twitter"></i> Sign in with Twitter
      </a>

    </div>
  </div>

</div>



